<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="G:/MavenWorkspace">
        <classes>
            <class name="Api.Lemon.testCase.LoginTest"/>
            <class name="Api.Lemon.testCase.RechargeTest"/>
            <class name="Api.Lemon.testCase.InvestFlowTest">
            </class>
        </classes>
    </test>
</suite>
